/* Styling for the main container */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Elements will wrap onto the next row */
}


/* Styling for the header */
.header {
  width: 100%;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
}

/*
.sidebar, .list-container {
  width: 50%;  Each div takes up 50% of the container width 
  border: 1px solid black;  Just for visualization 
}
*/

/* Styling for the sidebar */
.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
}

/* Styling for the summary statistics */
.summary {
  margin: 0px;
  padding: 20px;
  background-color: #f0f0f0;
}

/* Styling for the filter buttons */
.filter-buttons {
  margin-top: 20px;
}

/* Styling for the list container */
.list-container {
  display: inline-block;
  flex-grow: 1;
  width: 100px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Styling for the list */
.list {
  width: 100%;
  font-size: 16px;
}

/* Styling for brewery information */
.brewery-info {
  margin-bottom: 20px;
}

/* Styling for the brewery name */
.brewery-info h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

/* Styling for brewery details */
.brewery-info p {
  margin: 5px 0;
}

/* Styling for the search bar */
.search-bar {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
}

/* Styling for the search input */
.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styling for the search results */
.search-results {
  margin-top: 20px;
}

/* Styling for the list items */
.list-item {
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

.chart-container {
  width: max-content;
  padding: 20px;
  text-align: center; /* Center align the chart */
  margin-right: 50px;
}

.homeButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homeButton:hover {
  background-color: #0056b3;
}

.detailPageContainer {
  background-color: burlywood;
  margin: 0 auto;
  padding: 20px;
}

.detailPageHeader {
  font-size: 24px;
  margin-bottom: 20px;
}

.detailPageContent {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.homeButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homeButton:hover {
  background-color: #0056b3;
}
